  <h3> Beginners' Program </h3>

<% @exercises.each do |exercise| %>

    <% if exercise.level == "Beginner"%>
    <ul>
      
        <li><a href="/exercises/<%= exercise.id %>">
        <%= exercise.name %></li>
        <img class="thumbnail" src="<%= exercise.image_url%>">
    </ul>
    <%end%>

        
<% end %>