<h2> Edit Excercise </h2>

<form action='/exercises/<% @exercise['id']%>' method="post"> 
    <input type = "hidden" name="_method" value="put">
    <label for=""> Exercise name: </label>
    <br>
    <input type = "text" name="name" value="<% @exercise['name'] %>">
    <br>
    <label for=""> Image URL:</label>
    <br>
    <input type = "text" name="image_url" value="<% @exercise['image_url'] %>">
    <br>
    <label for=""> Level (Beginner, Intermediate or Advanced?): </label>
    <br>
    <input type = "text" name="level">
    <br>
    <label for=""> Targeted Muscles/Focus areas: </label>
    <br>
    <input type = "text" name="muscle_groups">
    <br>
    <label for=""> Reps: </label>
    <br>
    <input type = "text" name="reps">
    <br>
    <label for=""> Instructions:</label>
    <br>
    <textarea name="description"></textarea>
    <br>



    <button> Update exercise! </button>
</form>