<h2>Exercises</h2>


<div class ='wrapper'>
    <div class='exercises'>

    <% @exercises.each do |exercise| %>

        <a href="/exercises/<%= exercise.id %>">
        <%= exercise.name %><br>

        <img class ="thumbnails" src= "<%= exercise.image_url%>">
        <br></a>
    <% end %>
    </div>
</div>
