<h2>Exercises</h2>
<div class="search">
<p> Search the PilatesPal database</p>
</div>
<p>Can't find what you're looking for?
<a href="/exercises/new"><button>Add an exercise to PilatesPal!</button></a> <br>
</p>



<div class ='wrapper'>
    <div class='exercises'>

    <% @exercises.each do |exercise| %>

        <a href="/exercises/<%= exercise.id %>">
        <%= exercise.name %><br>

        <img class ="thumbnails" src= "<%= exercise.image_url%>">
        <br></a>
    <% end %>
    </div>
</div>
