<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>myPilatesPal</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Anaheim|Cabin+Sketch" rel="stylesheet">
</head>
<body>
  <header>
  <h1> myPilatesPal. </h1>
  <p> Take fitness with you anywhere.</p>

  <div class="current-user">
  <% if logged_in? %>
  <span>Logged in as: <%= current_user.email %></span><br>
 <span><a href="/my_program">View myProgram</a></span>
    <form action="/session" method="post">
      <input type="hidden" name= "_method" value = "delete">
      <button>Logout </button>
    </form>
  <%else%>

  <span> 
    Already a user?<button> <a href="/login"> Login here </a></button>
  </span>

  <%end%>
</div>

   <nav>
      <ul> 
        <li><a href="/">Home</a></li>
        <li><a href="/about">About myPilatesPal.</a></li>
        <li><a href="/signup">Sign-up!</a></li>
      </ul>
    </nav>

</header>
<body>

<div class="side-bar">
    <div class ="weather">
      <p>It's currently <span><%= @weather %>c</span> in Melbourne <br><%=Time.now.strftime("%H:%M, %-d %b")%></p>

    </div>

    <div class="search">
      <p> Search the PilatesPal database:
          <form action='/search' method="post"> 
            <input type = "text" name="search"><button> Search </button>
          </form>
      Can't find what you're looking for? <a href="/exercises/new"><button>Add an exercise to PilatesPal!</button></a>
      </p>
    </div>
  

    <div class = "aside">


      <h3> Sample programs </h3>
        
          <p><a href="/beginner_program"> Beginners' exercises</a></p>
          <p><a href="/intermediate_program"> Intermediate exercises</a></p>
          <p><a href="/advanced_program"> Advanced exercises</a></p>
        
      <h3> Related Articles </h3>
      <ul>
        <li><a href="https://www.pilates.com/BBAPP/V/pilates/benefits-of-pilates.html">Benefits of pilates</a></li>
        <li><a href="https://www.smh.com.au/lifestyle/pilates-more-than-posturing-20130309-2frwj.html">Pilates: more than posturing</a></li>
        <li><a href="https://stayingsharp.aarp.org/art/move/17/pilates-benefits-brain.html">How Pilates can benefit your brain</a></li>
      </ul>

    </div>
</div>





  



  <%= yield %>
    <footer>
    <div class ='footer'>MyPilatesPal &copy; 2018</div>
    </footer>
</body>

</html>