<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>myPilatesPal</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
  <h1> myPilatesPal </h1>
  <p> Take fitness with you anywhere</p>
   <nav>
      <ul> 
        <li><a href="/">Home</a></li>
        <li><a href="/About">About myPilatesPal</a></li>
      </ul>
    </nav>
</header>
<body>
 

  <aside>
    <h3> Sample programs </h3>
      <ul> 
        <li><a href="">Beginners program</a></li>
        <li><a href="">Intermediate program</a></li>
        <li><a href="">Advanced program</a></li>
      </ul>
    <h3> Top Articles</h3>

  </aside>




  



  <%= yield %>
    <footer>
    <div class ='footer'>MyPilatesPal &copy; 2018</div>
    </footer>
</body>

</html>