<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>myPilatesPal</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Anaheim|Cabin+Sketch" rel="stylesheet">
</head>
<body>
  <header>
  <h1> myPilatesPal. </h1>
  <p> Take fitness with you anywhere</p>
   <nav>
      <ul> 
        <li><a href="/">Home</a></li>
        <li><a href="/about">About myPilatesPal.</a></li>
        <li><a href="/signup">Sign-up!</a></li>
      </ul>
    </nav>
</header>
<body>
<div class="current-user">
  <% if logged_in? %>

  <span>Logged in as <%= current_user.email %></span><br>
 <span><a href="/my_program">View myProgram.</a></span>
  <form action="/session" method="post">
    <input type="hidden" name= "_method" value = "delete">
    <button>Logout </button>
    </form>
  <%else%>

  <span> 
    Already a user?<button> <a href="/login"> Login here </a></button>
  </span>

  <%end%>
</div>


  <aside>
    <h3> Sample programs </h3>
      <ul> 
        <li><a href="">Beginners program</a></li>
        <li><a href="">Intermediate program</a></li>
        <li><a href="">Advanced program</a></li>
      </ul>
    <h3> Top Articles</h3>
    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>

  </aside>




  



  <%= yield %>
    <footer>
    <div class ='footer'>MyPilatesPal &copy; 2018</div>
    </footer>
</body>

</html>