<h2> myProgram </h2>


<ul>
 <% @myprogram.exercises.each do |exercise| %>
    
       <li><a href="/exercises/<%= exercise.id %>"> <%= exercise.name %></a></li>
       <img class="thumbnail" src="<%= exercise.image_url%>">
        
    
 <% end %>

 </ul>

 <form action ="/my_program/<%=@myprogram.id%>" method= "post"> 
        <input type="hidden" name="_method" value = "delete">
        <button>Clear program</button>
        </form>