<h2> Search Results </h2>


<ul>
<% @exercises.each do |exercise| %>

    <%if exercise.name.downcase.include?(@search_word) %>
     <li><a href="/exercises/<%= exercise.id %>"><%= exercise.name%></a></li>
    
    <% @results = @results +1%>
    
     <%end%>

    
<%end%>
</ul>


<span> <%=@results%> results found. </span>



