* {
    box-sizing: border-box;
}


body {
    font-family: 'Anaheim', sans-serif;
    padding: 5px;
    font-size: 18px;
    color: #50514F;
}
header {
    text-align: center;
}

nav {
    background-color: #E8D6CB;
    padding: 3px;
    text-align: center;
}
.current-user {
    text-align: right;
    padding: 10px;
}
.new-user {
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
}
.date {
    padding: 5px;
}
.aside {
    display: inline-block;
    padding: 10px;
    border: solid #8B8982 1px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}
.search {
    margin-top: 10px;
    background-color: #8B8982;
    padding: 8px;
    border-radius: 5px;  
    width: 100%;
    text-align: center;
}

.side-bar {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    float: right;
}

h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 40px;
    padding: 5px;
}


nav ul li {
    display: inline;
    color: lightslategray;
    padding: 10px;
}


a {
    display: inline;
    text-decoration: none;
    color: grey;
}

a:hover {
    font-size: 22px;
}

.wrapper {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.exercises {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}

.exercises a {
    height: 25%;
    width: 33%;
    font-size: 20px;
    float: left;
}


img.thumbnails {
    max-height: 97%;
    max-width: 97%;
    border-radius: 5px; 
}
.thumbnail {
    max-width: 20%;
}


span {
    color: lightslategray;
}

button {
    padding: 7px;
    margin: 5px;
    border-radius: 5px;
    font-family: 'Anaheim', sans-serif;
    font-size: 14px;
}

.button:hover {background-color: #8B8982}

.button:active {
  background-color: #E8D6CB;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p {
    font-size: 18px;
}


.login {
    text-align: center;
    background-color: lightgrey;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
}

input {
    margin: 10px;
    padding: 5px;
}

.exercise-image img {
    max-width: 70%;
}

.options {
   text-align: right;
   margin-right: 25%;
}

.add-comment {
    text-align: center;
    padding: 20px;
    width: 70%;
}

footer {
    clear: both;
    border-top: grey solid 1px;
    padding: 5px;
}

.new {
    padding: 10px;
}

.instructions {
    border: solid grey 2px;
    width: 70%;
    padding: 10px;
}

p {
    margin: 0;
}


@media screen and (min-width: 480px) {
    .side-bar {width: 20%; float: center;}
}